<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Your Personal ChatBot</h1>
<div class="box"></div>
<div class="boxed">
    <div>
        <div id="chatbox">
            <p style="font-size: 40px">&#129302;</p>
            <div class="chatbot-message">
                <p class="chatbot-text bot-message-color">Hi! I'm Candice your personal ChatBot</p>
            </div>
        </div>
        <div id="userInput">
            <label for="textInput"></label>
            <input id="textInput" type="text" name="msg" placeholder="Message"/>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/script.js"></script>
</html>